@import "../variables.scss";

.bank-card-front-content {
  background-color: $main-1000;
  border-radius: $rounded;
  color: white;
  height: 12rem;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  position: relative;
  width: 23rem;
  overflow: auto;

  & > .chip-name-container {
    padding: 4rem;

    & > .chip-form {
      background-color: #f7e189;
      border-top-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      width: 2.5rem;
      height: 2rem;
      position: absolute;
      left: 1rem;
      bottom: 5rem;

      & > .top-left-square-chip {
        border-top-left-radius: 0.5rem;
      }

      & > .bottom-right-square-chip {
        border-bottom-right-radius: 0.5rem;
      }

      & > .normal-square-chip {
        border-color: #facc15;
        border-width: 2px;
      }
    }

    & > .name-space {
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      z-index: 50;
      bottom: 0;
      left: 1rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
    }
  }

  & > .mastercard-logo-container {
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 110%;
    width: 100%;
    background-color: black;
    border-top-left-radius: 1000px;
    position: relative;
    z-index: 40;

    & > .mastercard-logo {
      width: 3rem;
      padding-bottom: 1rem;
    }
  }
}

.bank-card-back-content {
  background-color: $main-1000;
  border-radius: $rounded;
  padding-bottom: 1rem;
  color: white;
  height: 12rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 23rem;

  & > .copyright-content {
    font-size: 0.3rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }

  & > .colorful-line {
    background-color: $bank-card-1000;
    padding: 1rem 0 1rem 0;
  }

  & > .card-content-container {
    padding: 0 1rem 0 1rem;

    & > .card-plan-container {
      width: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      gap: 0.25rem;

      & > .plan-content {
        font-size: 0.75rem;
        line-height: 1rem;
        text-transform: uppercase;
      }

      & > .plan-square {
        background-color: $bank-card-1000;
        border-radius: 0.75rem;
        padding: 0.25rem 2rem 0.25rem 2rem;
      }
    }

    & > .card-number-space {
      display: flex;
      gap: 0.8rem;
      font-size: 1.25rem;
      margin-top: 1rem;
      font-weight: bold;
    }

    & > .crucial-data-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div > .expiration-ccv-container {
        display: flex;
        gap: 2rem;

        & > .data {
          display: flex;
          align-items: end;
          gap: 0.2rem;

          & > .title {
            font-size: 1.1rem;
          }
        }
      }

      & > div > .mastercard-logo {
        width: 3rem;
      }
    }
  }
}
