@import "../variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-1000;
  padding: 1rem 1.2rem;

  & > .logo {
    width: $logo-width;
  }

  & > .container-links {
    display: flex;
    align-items: center;
    gap: 2rem;

    & > .links {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2rem;
      color: black;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }
    }

    & > .sign-up {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.8rem;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 0.5rem;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
