@import "../variables.scss";

section {
  & > .first-section {
    background-color: $main-1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    gap: 10rem;

    & > .create-account {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 50%;
      gap: 0.5rem;

      & > span {
        font-weight: bold;
        font-size: 2rem;
        width: 75%;
        text-align: left;
      }

      & > a {
        text-decoration: none;
        background-color: black;
        text-transform: capitalize;
        color: white;
        border-radius: $rounded;
        width: max-content;
        padding: 0.5rem 1.5rem;
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    & > .cards {
      display: flex;
      gap: 1rem;

      & > div {
        background-color: $card-background;
        border: 8px solid white;
        width: 33%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > span {
          font-weight: bold;
          font-size: 1.2rem;
        }

        & > p {
          text-align: center;
        }
      }
    }
  }
}
