@import "../variables.scss";

.user-profile-content {
  display: flex;
  gap: 1rem;
  height: 100vh;

  &>.core-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    &>.user-photo-container {
      position: relative;
      display: flex;
      justify-content: center;

      &>.banner {
        width: 100%;
      }

      &>.profile-photo {
        position: absolute;
        bottom: -5rem;
        width: 10rem;
      }
    }

    &>.name-balance-container {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &>.user-name {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
      }

      &>.balance {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &>.balance-data {
          display: flex;
          flex-direction: column;

          &>.title {
            font-size: 2rem;
            font-weight: bold;
          }

          &>.balance-value {
            font-size: 1.8rem;
            font-weight: bold;
          }
        }

        &>.is-show {
          width: 3rem;
          cursor: pointer;
        }
      }
    }
  }

  &>.other-data {
    position: relative;
    display: grid;
    grid-template-areas:
      "user transaction"
      "card transaction";
    margin-top: 5rem;
    gap: 1rem;
    width: 50%;

    &>.card-container {
      padding: 2rem;
      box-shadow: 0 0 4px black;
      display: flex;
      flex-direction: column;
      border-radius: $rounded;
      height: fit-content;
      width: 100%;
      grid-area: card;
    }

    &>.transactions-container {
      grid-area: transaction;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      box-shadow: 0 0 4px black;
      border-radius: $rounded;
      height: 80%;
      padding: 1rem;
      gap: 1rem;

      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      &>.transaction {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: whitesmoke;
        border-radius: $rounded;
        cursor: pointer;
        box-shadow: 0 0 4px black;
        width: 100%;
        height: 100%;

        &:hover {
          opacity: 0.8;
        }

        &>.send-received {
          font-size: 0.8rem;
          color: $transaction-subtitle-1000;
          opacity: 0.8;
        }

        &>.value {
          font-size: 1.5rem;
          font-weight: bold;
        }

        &>.verb {
          text-transform: uppercase;
          font-weight: bold;

          &>.sent {
            color: red;
          }

          &>.received {
            color: green;
          }
        }

        &>.type {
          text-transform: uppercase;
          opacity: 0.8;
          color: $transaction-subtitle-1000;
          font-size: 0.8rem;
        }
      }
    }

    &>.user-data-container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.5rem;
      box-shadow: 0 0 4px black;
      padding: 2rem;
      border-radius: $rounded;
      height: 100%;
      width: 100%;
      grid-area: user;

      &>.data-box {
        padding: 1rem;

        &>.title {
          font-weight: bold;
          font-size: 1.5rem;
        }

        &>.data {
          font-size: 1.5rem;
          display: block;

          &::first-letter {
            text-transform: capitalize;
          }
        }

        &>.clickable {
          cursor: pointer;
        }
      }
    }
  }
}